.img-box{
    display:flex; 
    flex-direction:row;
    flex-wrap: wrap;
    flex-flow: row wrap;
}
.background {
    background-image: url('./assets/cellGradientBackground@2x.png');
}
.header {
    height: 90px;
    background-color: #43e895;
    padding-top: 2em;
    margin: 0px;
    position: relative;
}

.map-btn{
    position: absolute;
    right: 30px;
    top: 30px;
    height: 2em;
    width: 2em;
  }

.header-sub {
    text-align: center;
}

.header-text {
    color: #ffffff;
    font-size: 17px
}

.food-image {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.food-image {
    height: 180px;
    padding: 0px;
    margin: 0px;
}

.footer-btn {
    background-color: #2a2a2a;
    height: 90px;
    border: 0px;
}
.footer-img {
    height: 2em;
    width: 2em;
}

ul {
    list-style-type: none;
  }

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #ffffff;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
//Import base bootstrap css.  All custom overrides should be listed above.
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';